body {
    font-family: 'Segoe UI', sans-serif;
    background-color: rgb(2, 21, 38);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

header {
    text-align: center;
    margin: 2rem 0;
    color: rgb(226, 226, 182);
    background-color: rgb(3, 52, 110);
    border-radius: 10%;
    padding: 1%;
}

section {
    background: rgb(226, 226, 182);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 500px;
    display: wrap;
}
h2 {
    margin: 1%;
    padding: 5%;
    text-align: center;
    color: rgb(226, 216, 182);
    background: radial-gradient(rgb(3, 52, 110), rgb(57, 99, 150));
    border-radius: 75%;
}
main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
}