body {
    font-family: 'Segoe UI', sans-serif;
    background-color: rgb(2, 21, 38);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

header {
    text-align: center;
    margin: 2rem 0;
    color: rgb(226, 226, 182);
}

section {
    background: rgb(226, 226, 182);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 500px;
}

input {
    padding: 0.5rem;
    width: 70%;
    margin: 1rem;
}

button {
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    background: rgb(3, 52, 110);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: rgb(57, 99, 150);
    transition: background 0.3s;
}
nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.tab {
  background: rgb(3, 52, 110);
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.tab:hover {
  background: #005fa3;
}

.tab.active {
  background: rgb(57, 99, 150);
  box-shadow: 0 0 10px rgba(57, 99, 150, 0.5);
}

section {
  display: none;
}

section.active {
  display: block;
}
